:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: #010101;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: normal;
  text-decoration: inherit;
  color: #3577f7;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-image: image-set(
    url("/src/img/bg-mob-x1.png") 1x,
    url("/src/img/bg-mob-x2.png") 2x
  );
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  color: #010101;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 20px;
}

h3,
h4 {
  font-weight: medium;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
button {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  background-color: #0f7c41;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    background-image: image-set(
      url("/src/img/bg-tab-x1.png") 1x,
      url("/src/img/bg-tab-x2.png") 2x
    );
  }
  h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: image-set(
      url("/src/img/bg-desc-x1.png") 1x,
      url("/src/img/bg-desc-x2.png") 2x
    );
  }
  h2 {
    font-size: 28px;
  }
  h1 {
    font-size: 56px;
  }
}
